<div class="moment-container" *ngIf="moment">
    <h1>{{moment.title}}</h1>
    <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
    <div class="about-moment">
        <h3>about this moment:</h3>
        <p>{{moment.description}}</p>
    </div>
    <div class="actions">
        <h3>Actions:</h3>
        <div>
            <a routerLink="/moments/edit/{{moment.id}}" class="edit-button">
                <fa-icon [icon]="faEdit"></fa-icon> Edit
            </a>
            <button class="remove-button" (click)="removeHandler(moment.id!)">
                <fa-icon [icon]="faTimes"></fa-icon> Delete
            </button>
        </div>
    </div>

    <div class="comments">
        <h3>Comments ({{moment.comments!.length > 0 ? moment.comments!.length : 0}}):</h3>
        <div *ngIf="moment.comments!.length > 0; else noComments">
            <div class="comment-container" *ngFor="let comment of moment.comments">
                <p class="comment">{{comment.text}}</p>
                <p class="author"><span>by: {{comment.username}}</span></p>
            </div>
            <div class="comment-container">
                <p class="comment">Texto do comentario</p>
                <p class="author"><span>by: Rafael</span></p>
            </div>
        </div>
        <ng-template #noComments>
            <p>There are no comments to show.</p>
        </ng-template>
    </div>
    <div class="comment-form">
        <h2>What did you think of this moment?:</h2>
        <form>
            <div class="form-group">
                <label for="text">Comment:</label>
                <textarea placeholder="Leave your comment here..." required></textarea>
            </div>

            <div class="form-group">
                <label for="username">Name:</label>
                <input type="text" placeholder="Type your name..." required>
            </div>
            <input type="submit" value="Send">
        </form>
    </div>
</div>