<form>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title of the moment" required>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" placeholder="What happened?" required></textarea>
    </div>

    <div class="form-group">
        <label for="image">Your best photo:</label>
        <input type="file" name="image">
    </div>

    <input type="submit" value="{{buttonText}}">
</form>