.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

.home-container h1 {
  margin-bottom: 2.4rem;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  gap: 2.4rem;
}

.moment {
  width: 22%;
  margin-bottom: 1.6rem;
  text-align: center;
}

.moment img {
  width: 100%;
  margin-bottom: 1.6rem;
}

.moment h3,
.moment p {
  margin-bottom: 0.8rem;
}

.moment .date {
  font-size: 1.2rem;
  font-size: italic;
}

.moment a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  background: var(--yellow-500);
  color: var(--grey-300);
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
}

.search-container {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
}

.search-container form {
  width: 30%;
  position: relative;
}

.search-container fa-icon {
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 1.6rem;
  color: var(--grey-300);
}

.search-container input {
  padding: 0.5rem;
  width: 100%;
}
