* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-500: #f8f8f2;
  --yellow-300: #d3a526;
  --yellow-500: #f7c94b;
  --red-500: #f20b36;
  --grey-300: #343746;

  --bg-color-primary: #282a36;
  --bg-color-secondary: #21222c;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
a {
  font-size: 1.6rem;
}

body {
  color: var(--white-500);
  background-color: var(--bg-color-primary);
}

a {
  text-decoration: none;
  color: var(--yellow-500);
  transition: 0.3s;
}

a:hover {
  color: var(--yellow-300);
}

/* Form Styles */
form {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.form-group label {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.form-group input,
.form-group textarea {
  padding: 0.6rem;
  color: var(--grey-300);
  font-size: 1.6rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline-color: var(--yellow-500);
}

.form-group input.error,
.form-group textarea.error {
  border: 2px solid var(--red-500);
}

.form-group textarea {
  resize: vertical;
}

input[type="file"] {
  color: var(--white-500);
  padding: 0;
}

input[type="submit"] {
  font-weight: bold;
  background: var(--yellow-500);
  color: var(--grey-300);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: var(--yellow-300);
}

.validation-error p {
  color: var(--red-500);
  margin-top: 0.8rem;
  border-left: 2px solid var(--red-500);
  padding-left: 0.8rem;
}

/* BUTTONS */

a.edit-button,
button.remove-button {
    display: inline-block;
    background-color: var(--yellow-300);
    border: none;
    color: var(--grey-300);
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    cursor: pointer;
    transition: 0.3s
}

a.edit-button:hover,
button.remove-button:hover {
  filter: brightness(0.8);
}